*{
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    height: 100vh;
    font: 1.6rem Arial;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}

a:hover {
    color: orangered;
}

input,
button {
    font: 1.6rem arial;
    padding: 1rem;
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
}

button {
    cursor: pointer;
}

input:hover,
button:hover {
    border: 0.1rem #404040 solid;
}

button.primary {
    background-color: #f0c040;
}

.fw {
    width: 100%;
}

.grid-container {
    display: grid;
    grid-template-areas: 
        "header"
        "main"
        "footer";
    
    grid-template-columns: 1fr;
    grid-template-rows: 5rem 1fr 5rem;
    height: 100%;
}

header {
    grid-area: header;
    background-color: #00212B;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5rem;
}

header a {
    color: white;
}

header a:hover {
    color: orangered;
}

.brand a{
    font-size: 3rem;
    font-weight: bold;
    text-decoration: none;
}

footer {
    background-color: #004052;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}

 /* Products */
.products {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.products li {
    flex: 0 1 30rem;
    margin: 1rem;
    margin-bottom: 0;
    height: 42rem;
    border-top: 0.2rem #e0e0e0 solid;

}

.product {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /* height: 100%; */
}

.product img {
    max-width: 22rem;
    max-height: 26rem;
    margin-top: 2rem;
}

.product-name {
    line-height: 2.2rem;
}

.product-brand {
    font-size: 1.2rem;
    color: darkgray;
}

/* rating */
.rating  {
    color: gold;
    font-size: 1.4rem;
}

.rating span:last-child {
    color: black;
}

/* Product Details */
.content {
    padding: 1rem;
}

.details {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}

.details ul {
    list-style: none;
    padding: 0;
}

.details li {
    margin-bottom: 1rem;
}
.details-image {
    flex: 2 1 60rem;
}

.details-image .img {
    max-width: 60rem;
    width: 100%;
}

.details-info, .details-action {
    flex: 1 1 30rem;
}

.details-info h1 {
    font-size: 2rem;
    margin: 0;
}

.details-action {
    border: 0.1rem #808080 solid;
    border-radius: 0.5rem;
    background-color: #f8f8f8;
    padding: 1rem;
}

.success {
    color: green;
}

.error {
    color: red;
}

/* Cart Screen */
.cart {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-around; */
    align-items: flex-start;
}

.cart-list {
    flex: 3 1 60rem;
}

.cart-action {
    flex: 1 1 20rem;
    background-color: #f0f0f0;
    border: 0.1rem solid black;
    border-radius: 0.5rem;
    padding: 1rem;
}

.cart-list-container {
    padding: 1rem;
    list-style-type: none;
}

.cart-list-container li {
    display: flex;
    justify-content: space-between;
    padding-bottom: 1rem;
    margin-bottom: 1rem;
    border-bottom: 0.1rem #c0c0c0 solid;
}

.cart-list-container img {
    max-width: 10rem;
    max-height: 10rem;
}

.cart-list-container li:first-child {
    align-items: flex-end;
}

.cart-image {
    flex: 1 1;
}

.cart-name {
    flex: 8 1;
}

cart-price {
    flex: 1 1;
    text-align: right;
}

.cart-name div {
    padding: 1rem;
}

.cart-list h3 {
    margin: 0;
}

.cart-list select, .cart-list button {
    font-size: 1.3rem;
    padding: 0.5rem;
}

/* Form */
.form-container {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100%;
}

.form-items {
    display: flex;
    flex-direction: column;
    width: 32rem;
    padding: 2rem;
    border: 0.1rem solid grey;
    border-radius: 0.5rem;
    list-style-type: none;
}

.form-items li {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.overlay {
    display: none;
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(16, 16, 16, 0.5);
}

.overlay.active {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
}

.overlay > div {
    background-color: white;
    color: black;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    max-width: 40rem;
}

.overlay > div > * {
    margin: 2rem;
}

/* Checkout */
.checkout-steps {
    display: flex;
    justify-content: space-between;
    width: 40rem;
    margin: 1rem auto;
}

.checkout-steps > div {
    border-top: 0.3rem solid grey;
    flex: 1 1;
}
.checkout-steps > div.active {
    border-top-color: #f08000;
    color: #f08000
}

/* PlaceOrder Screen */
.order {
    display: flex;
    flex-wrap: wrap;
    padding: 1rem;
    justify-content: space-between;
}

.order-info {
    flex: 3 1 60rem;
}

.order-action {
    flex: 1 1 20rem;
    border: 00.1rem solid #c0c0c0;
    border-radius: 0.5rem;
    background-color: #f0f0f0;
    padding: 2rem;
    margin: 1rem;
    /* height: fit-content; */
}

.order-info > div {
    border: 0.1rem solid #c0c0c0;
    border-radius: 0.5rem;
    padding: 2rem;
    margin: 1rem;
    background-color: #f0f0f0;
}

/* .order-info > div > div {
    padding-bottom: 1rem;
} */

.order-action > ul {
    padding: 0;
    list-style-type: none;
}

.order-action  li {
    display: flex;
    margin-bottom: 1rem;
    justify-content: space-between;
}

.order-action .total {
    font-size: 2rem;
    font-weight: bold;
    color: orangered;
}